


{% extends "layout.html" %}

{% block title %} Dashboard Page {% endblock title %}


{% block content %}


 <h1>Merhaba, {{ current_user.username }}!</h1>
    
    <a class="dash-link" href="{{ url_for('main.logout') }}">Çıkış Yap</a>


    <a class="dash-link" href="{{ url_for('main.login_stats') }}">giriş bilgileri</a>

    <a class="dash-link" href="{{ url_for('main.system_monitor') }}">sistem bilgileri</a>

    <br>

    <a class="dash-link" href="{{ url_for('main.failed_login_stats') }}">başarısız giriş</a>





{% endblock content %}
    
