
{% extends "layout.html" %}

{% block title %} Home Page  {% endblock title %}


{% block content %}


   <h1 class="home-header" >Hoşgeldiniz </h1>

    <div class="container">
  <img src="{{ url_for('static', filename='images/butun.jpg') }}" alt="Home Page Foto" class="main-image">

  <div class="link-row">
   
    <a href="/register" class="btn">Hala Kaydolmadıysan Kaydol</a>
      <a href="/login" class="btn">Daha Önce Kaydolduysan Giriş Yap</a>

  </div>
</div>


     


      


      


{% endblock content %}
    