


{% extends "layout.html" %}

{% block title %} Login Page  {% endblock title %}


{% block content %}


  <h1>Login Sayfası </h1>

      
      <form class="postform" method="POST">
        {{ form.hidden_tag() }}
        
        <p class="username">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        
        <p class="password"> 
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        
         <button class="btn" type="submit">Login</button>
    </form>
       <a class="login-link" href="{{url_for('main.register')}}">Kaydolmak için Tıkla</a> 


       








{% endblock content %}
    