<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
     
</head>
<body>
      <h1>Login Sayfası </h1>

      
      <form class="postform" method="POST">
        {{ form.hidden_tag() }}
        
        <p class="username">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        
        <p class="password"> 
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        
         <button class="btn" type="submit">Register</button>
    </form>
       <a class="login-link" href="{{url_for('register')}}">Kaydolmak için Tıkla</a> 










</body>
</html>